certifi==2025.11.12
geopandas==1.1.1
mapbox-vector-tile==2.2.0
numpy==2.3.5
packaging==25.0
pandas==2.3.3
protobuf==6.33.1
pyarrow==22.0.0
pyclipper==1.3.0.post6
pyogrio==0.11.1
pyproj==3.7.2
python-dateutil==2.9.0.post0
pytz==2025.2
shapely==2.1.2
six==1.17.0
-e git+ssh://git@github.com/rohanbennur43/ucr-bigdatalab-starmap.git@79cbee2b8f397e4e06023295aa1ad0a66ba1e6e6#egg=tile_geoparquet&subdirectory=tile-geoparquet
tzdata==2025.2
